body {
  background-color: #F6D55C;
}

.head {
  background-color: #3CAEA3;
  width:100%;
  height:200px;
  border: 0px solid #3CAEA3;
  padding-top:30px;
  color: #173F5F;
  text-align:center;
  font-family: 'Righteous', cursive;
  font-size: 40px;
}

.chin {
  background-color: #20639B;
  width:100%;
  height:20px;
}

h2 {
  color: #173F5F;
  text-align:center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

form {
  display:flex;
  justify-content:center;
}
.one {
  background-color: #ED553B;
  border: 1px solid #ED553B;
  height:45px;
  width: 300px;
  border-radius:10px;
  font-family: 'Righteous', cursive;
  font-size:20px;
  color:white;
  margin-left:10px;
  margin-right:10px;
}
.two {
  background-color: #ED553B;
  border: 1px solid #ED553B;
  height:45px;
  width: 300px;
  border-radius:10px;
  font-family: 'Righteous', cursive;
  font-size:20px;
  color:white;
  margin-left:10px;
  margin-right:10px;
}
.three {
  background-color: #ED553B;
  border: 1px solid #ED553B;
  height:45px;
  width: 300px;
  border-radius:10px;
  font-family: 'Righteous', cursive;
  font-size:20px;
  color:white;
  margin-left:10px;
  margin-right:10px;
}

.four {
  background-color: #ED553B;
  border: 1px solid #ED553B;
  height:45px;
  width: 300px;
  border-radius:10px;
  font-family: 'Righteous', cursive;
  font-size:20px;
  color:white;
  margin-left:10px;
  margin-right:10px;
}

p {
  font-family: 'Righteous', cursive;
  color:#173F5F;
  font-size:25px;
  display:inline-block;
  margin: 25px 20px 10px 20px
}

answer {
  display:flex;
  justify-content:center;
}

footer {
  display:flex;
  justify-content:center;
  margin-top:100px;
}

#pic {
  background-color: #ED553B;
  border: 1px solid #ED553B;
  height:55px;
  width: 500px;
  border-radius:10px;
  font-family: 'Righteous', cursive;
  font-size:20px;
  color:white;
}

button {
  padding:2px;
}

foot {
  height:500px;
  display:flex;
  justify-content:center;
  margin-top:40px;
}

.pics {
  object-fit:cover;
  border-radius:25px;
}
